{% include 'includes/_header.html' %}

<table class="table table-hover text-center">
  <thead>
    <tr >
      <th scope="col">Comment</th>
      <th scope="col">Comment Author</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
{% for comment in comments %}

<tr>
    <td class="pt-3"><a href="/post/{{comment.post_id}}">{{comment.comment}}</a></td>
    <td class="pt-3"><a href="/user/{{comment.username}}">{{comment.username}}</a></td>
    <td><a href="/approve-comment/{{comment.id}}" type="button" class="btn btn-success">Approve</a></td>
    <td><a href="/delete-comment/{{comment.id}}" type="button" class="btn btn-danger">Delete</a></td>
</tr>

{% endfor %}

{% for comment in approved_comments %}

<tr>
    <td class="pt-3"><a href="/post/{{comment.post_id}}">{{comment.comment}}</a></td>
    <td class="pt-3"><a href="/user/{{comment.username}}">{{comment.username}}</a></td>
    <td></td>
    <td><a href="/delete-comment/{{comment.id}}" type="button" class="btn btn-danger">Delete</a></td>
</tr>

{% endfor %}

  </tbody>
</table>

